<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataLayer.Properties.Settings.AccessControldbConnectionString"
            connectionString="Data Source=JARVIS;Initial Catalog=AccessControldb;User ID=sa;Password=Deathstrok;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>